.menu-show {
            display: none;
}

/* 文本样式 */
.text_name {
            text-anchor: middle;
            font-family: '微软雅黑';
            font-size: 12px;
            fill: white;
}
.title-list {
    font-size: 18px;
    min-height: 40px;
    line-height: 40px;
    color: #fff!important;
}

.btnList {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 20px;
}
.btnList input {
    width: 100%;
    height:50px;
    font-size: 20px;
    margin-top: 20px;
}
.btn-active1 {
    background-color: #3c763d!important;
}

.color_list1 {
    fill: #1f77b4;
}
.color_list2 {
    fill: #00db00;
}
.color_list3 {
    fill: #f75000;
}
.color_list4 {
    fill: #b766ad;
}